body {
  background-color: #607d8b;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#project-name {
  text-align: center;
  font-size: 10em;
  font-family: 'Lobster', cursive;
  color: #FFF;
}

#link-panel {
  display: none;
}

#add-failed {
  display: none;
}
