body {
  background-color: #607d8b;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#project-name {
  text-align: center;
  text-shadow: 2px 2px #3f515a;
  font-size: 10em;
  font-family: 'Lobster', cursive;
  color: #FFF;
}

#oops {
  text-align: center;
  font-size: 3em;
  font-family: 'Lobster', cursive;
  color: #FFF;
}

#home-link {
  text-align: center;
  text-shadow: 1px 1px #3f515a;
  font-size: 1em;
  color: #FFF
}

#link-panel {
  display: none;
}

#add-failed {
  display: none;
}
